
.icon-steps-up-tall:before { content: '\e800'; } /* '' */
.icon-steps-down-tall:before { content: '\e801'; } /* '' */
.icon-steps-up-short:before { content: '\e802'; } /* '' */
.icon-steps-down-short:before { content: '\e803'; } /* '' */